.about {
  margin: 80px auto;

  &__image {
    padding: 10px;
    width: 450px;
    background: linear-gradient(
      45deg,
      #fbb53b,
      #f4e736,
      #4aa951,
      #6cbf45,
      #93c653
    );
  }

  @include respond-below(md) {
    display: flex;
    flex-direction: column;

    &__media-body {
      padding-top: 30px;
    }

    &__image {
      padding: 10px;
      width: 90vw;
    }
  }

  &__media-body {
    font-size: 20px;
    line-height: 34px;
  }
}
