.header {
  position: relative;
  background-image: url(../svg/bg-blingbling.svg), url(../svg/patty-patty.svg);
  background-size: initial;
  min-height: 100vh;
  background-position: center top, center 450px;
  background-repeat: no-repeat;
  overflow: hidden;

  @include respond-above(md) {
    &__title {
      position: absolute;
      font-weight: 500;
      font-size: 150px;
      max-width: 55vw;
      margin-top: 50px;
      margin-right: 200px;
    }

    &__leftside {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      bottom: 0;
      height: 100%;
      left: 200px;
    }

    &__logo {
      margin-bottom: 26px;
    }
  }

  &__date {
    font-size: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__hour {
    font-size: 21px;
  }

  &__letsgo {
    border: 1px solid white;
    background: transparent;
    color: white;
    width: 100%;
    font-size: 28px;
    padding: 10px 0;

    transition: color 250ms, background 250ms;
    &:hover {
      background: white;
      color: black;
    }
  }
}

@include respond-below(md) {
  .header {
    position: relative;
    background-image: url(https://www.graphqlconf.org/static/bg-blingbling.svg),
      url(https://www.graphqlconf.org/static/patty-patty.svg);
    background-size: initial;
    min-height: 100vh;
    background-position: center top, center 450px;
    background-repeat: no-repeat;
    overflow: hidden;

    &__title {
      font-weight: bold;
      font-size: 60px;
      margin: 20px;
    }

    &__leftside {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &__letsgo {
      width: 90%;
    }
  }
}
