@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: Behdad;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Behdad-Regular.woff2") format("woff2");
}

body {
  direction: rtl;
  text-align: right;
  font-family: Behdad;
  background: $helobg;
}

footer {
  padding: 40px 0;
}
