.speakers {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 25%;
      margin-bottom: 25px;
    }

    @include respond-below(md) {
      li {
        width: 50%;
      }
    }
  }
}

.speaker {
  &__name {
    margin: 0;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }

  &__github {
    line-height: 1;
    font-size: 15px;
  }

  &__image {
    width: 170px;
  }

  @include respond-below(md) {
    &__image {
      width: 130px;
      height: 130px;
    }
  }

  @include respond-below(sm) {
    &__text {
      padding-left: 10px;
    }
  }
}

.text-muted{
color: rgba(255,255,255,0.6)!important;
}
